<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53558536677-msmjte350mqmv3vo9lo6ehs1t59ji7ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53558536677-msmjte350mqmv3vo9lo6ehs1t59ji7ks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53558536677-etst8h6truqjugc4da9mu92nac44nkk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYwStgeHH6dr9d3CYBWty4sSuUmVNabSk</string>
	<key>GCM_SENDER_ID</key>
	<string>53558536677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nihongoMaster</string>
	<key>PROJECT_ID</key>
	<string>apptiengnhat-d12b7</string>
	<key>STORAGE_BUCKET</key>
	<string>apptiengnhat-d12b7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53558536677:ios:ea2ce4453ee36d1b20e70c</string>
</dict>
</plist>